<script setup>
    import { ref } from 'vue';

    const props = defineProps(['datosInstancia', 'sol']);
    const criterioSelec = ref(0);
    
    const criteriosGreedy = ref([
        {
            nombre: "Mayor valor de ítem",
            handler: function() {
                let res = [];

                for(let i in props.datosInstancia.items) {
                    let val = props.datosInstancia.items[i];
                    let j = 0;

                    while(j < res.length && props.datosInstancia.items[res[j]] >= val)
                        j++;
                    
                    res.splice(j, 0, i);
                }

                return res;
            }
        },
        {
            nombre: "Menor suma de costos en las mochilas",
            handler: function() {
                let res = [];
                let sumas = [];

                for(let i in props.datosInstancia.items) {
                    let sum = 0;

                    for(let j = 0; j < props.datosInstancia.mochilas.length; j++)
                        sum += props.datosInstancia.restricciones[j][i];

                    let j = 0;

                    while(j < sumas.length && sumas[j] <= sum)
                        j++;
                    
                    res.splice(j, 0, i);
                    sumas.splice(j, 0, sum);
                }

                return res;
            }
        },
        {
            nombre: "Mayor ratio valor / costos",
            handler: function() {
                let res = [];
                let ratios = [];

                for(let i in props.datosInstancia.items) {
                    let sum = 0;

                    for(let j = 0; j < props.datosInstancia.mochilas.length; j++)
                        sum += props.datosInstancia.restricciones[j][i];

                    let ratio = props.datosInstancia.items[i] / sum;                    
                    let j = 0;

                    while(j < ratios.length && ratios[j] >= ratio)
                        j++;
                    
                    res.splice(j, 0, i);
                    ratios.splice(j, 0, ratio);
                }

                console.log(ratios);
                return res;
            }
        }
    ]);

    function ejecutar() {
        let items = criteriosGreedy.value[criterioSelec.value].handler();
        let i = 0;
        props.sol.reiniciar();

        while(i < items.length && props.sol.activar(items[i], true))
            i++;

        //console.log(items);
        //console.log(props.sol.obtenerResultado());
    }
</script>

<template>
    <div>
        <b>Aplicar heuristica ambiciosa:</b><br/>Criterio - 
        <select v-model="criterioSelec">
            <option v-for="(crit, index) in criteriosGreedy" :value="index" :key="index">
                {{ crit.nombre }}
            </option>
        </select>&nbsp;
        <button @click="ejecutar">Ejecutar</button>
    </div>
</template>