<template>
  <h1>Ejemplo problema de la mochila 0/1 multidimensional</h1>
  <CargadorInstancia/>
</template>

<script>
import CargadorInstancia from './components/CargadorInstancia.vue'

export default {
  name: 'App',
  components: {
    CargadorInstancia
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}

.contenedoGral {
  padding: 5px;
  border: 1px solid grey;
}
</style>
